/* Nav Bar CSS */
bdy{
    background-image: url("http://idolza.com/a/f/f/famous-peaceful-paintings-wallpaper-high-definition-abstract-cool-design-backgrounds-patterns-wallpapers-resolution_cool-wallpaper-designs_interior-wall-design-decorating-master-bed.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius:30px;
    border-color:;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius:60px;

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#ab{
    background-color: black; 
}

.spot{
    position: absolute;
    top: 200px;
    left: 50px
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


pic{
  display: block;
  max-width: 100%;
  height: auto;
}
